@model POS_System.Models.Category
@{
    ViewData["Title"] = "Category";
}
<div class="card">

    <div class="card-body">
        <h4 class="card-title">Delete Category</h4>
        <div class="basic-form">
            <form asp-action="Destroy" asp-controller="Category" method="post">
                <div class="form-row">
                    <input asp-for="CategoryId" type="hidden" />
                    <div class="col">
                        <input type="text" class="form-control" asp-for="CategoryName" placeholder="Category Name" spellcheck="false" data-ms-editor="true">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" asp-for="Description" placeholder="Description" spellcheck="false" data-ms-editor="true">
                    </div>
                </div>
                <div class="form-group mt-3 float-lg-right">
                    <button type="submit" class="btn btn-sm btn-success">

                       Delete
                    </button>
                    <a asp-action="Index" class="btn btn-sm btn-danger">Cancel</a>

                </div>
            </form>
        </div>
    </div>
</div>