@model POS_System.Models.Supplier
@{
    ViewData["Title"] = "Supplier";
}
<div class="card">

    <div class="card-body">
        <h4 class="card-title">Delete Supplier</h4>
        <div class="basic-form">
            <form asp-action="Destroy" asp-controller="Supllier" method="post">
                <input asp-for="SupplierId" type="hidden" />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" asp-for="SupplierName" placeholder="Supplier Name" spellcheck="false" data-ms-editor="true">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" asp-for="Email" placeholder="Email" spellcheck="false" data-ms-editor="true">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" asp-for="Phone" placeholder="Phone" spellcheck="false" data-ms-editor="true">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" asp-for="Address" placeholder="Address" spellcheck="false" data-ms-editor="true">
                    </div>
                </div>
                <div class="form-group mt-3 float-lg-right">
                    <button type="submit" class="btn btn-sm btn-success">
                        Delete
                    </button>
                    <a asp-action="Index" class="btn btn-sm btn-danger">Cancel</a>

                </div>
            </form>
        </div>
    </div>
</div>