@model POS_System.Models.Customer
@{
    ViewData["Title"] = "Customer";
}
<div class="card">

    <div class="card-body">
        <h4 class="card-title">Add Customer</h4>
        <div class="basic-form">
            <form asp-action="Stores" asp-controller="Customer" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="CustomerName">CustomerName <span class="required-star" style="color:red">*</span></label>
                        <input type="text" class="form-control" asp-for="CustomerName" placeholder="Customer Name" spellcheck="false" data-ms-editor="true">
                    </div>


                    <div class="form-group col-md-6">
                        <label asp-for="Phone">Phone <span class="required-star" style="color:red">*</span></label>
                        <input type="text" class="form-control" asp-for="Phone" placeholder="Phone" spellcheck="false" data-ms-editor="true">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" asp-for="Email" placeholder="Email" spellcheck="false" data-ms-editor="true">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" asp-for="Address" placeholder="Address" spellcheck="false" data-ms-editor="true">
                    </div>
                </div>
                <div class="form-group mt-3 float-lg-right">
                    <button type="submit" class="btn btn-sm btn-success">
                        Add New
                    </button>
                    <a asp-action="Index" class="btn btn-sm btn-danger">Cancel</a>

                </div>
            </form>
        </div>
    </div>
</div>